In [14]:
import datetime as dt
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas.plotting import register_matplotlib_converters
import seaborn as sn

register_matplotlib_converters()
%matplotlib inline
pd.set_option('precision', 3)
pd.options.display.float_format = '{:.2f}'.format

In [17]:
df1 = pd.read_csv('/home/gibbs/SJIs/VacationRentals/Data/MrgdRecs-zips.csv',
    dtype={'Zip':object},
    header=0)

In [18]:
df1.head()

        X     Y           PIN State    Zip
0 -123.03 48.61  361350042000    MA  01002
1 -122.95 48.63  260911003000    MA  02140
2 -123.03 48.56  350250010000    MA  02540
3 -123.02 48.52  352311014000    NJ  07830
4 -122.99 48.52  251924001000    NY  10013

In [25]:
df1.count()

X        978
Y        978
PIN      978
State    978
Zip      978
dtype: int64

In [27]:
df1.groupby(['State']).count()

         X    Y  PIN  Zip
State
AK       1    1    1    1
AL       1    1    1    1
AZ       9    9    9    9
CA      95   95   95   95
CO       7    7    7    7
FL       3    3    3    3
GA       1    1    1    1
HI       9    9    9    9
IN       2    2    2    2
KS       1    1    1    1
MA       3    3    3    3
MN       1    1    1    1
MO       2    2    2    2
MS       1    1    1    1
MT       2    2    2    2
NJ       1    1    1    1
NM       4    4    4    4
NV       4    4    4    4
NY       5    5    5    5
OH       1    1    1    1
OR      23   23   23   23
PA       4    4    4    4
SC       1    1    1    1
SD       1    1    1    1
TN       1    1    1    1
TX       8    8    8    8
UT       4    4    4    4
VA       1    1    1    1
WA     781  781  781  781
WI       1    1    1    1

In [43]:
groupedState.get_group(('WA','98243')).count() # Deer Harbor

X        22
Y        22
PIN      22
State    22
Zip      22
dtype: int64

In [31]:
groupedState.get_group(('WA','98245')).count() # General Eastsound

X        173
Y        173
PIN      173
State    173
Zip      173
dtype: int64

In [32]:
groupedState.get_group(('WA','98250')).count() # General Friday Harbor

X        215
Y        215
PIN      215
State    215
Zip      215
dtype: int64

In [33]:
groupedState.get_group(('WA','98261')).count() # Lopez

X        39
Y        39
PIN      39
State    39
Zip      39
dtype: int64

In [34]:
groupedState.get_group(('WA','98279')).count() # Olga

X        37
Y        37
PIN      37
State    37
Zip      37
dtype: int64

In [36]:
groupedState.get_group(('WA','98280')).count() # Orcas

X        18
Y        18
PIN      18
State    18
Zip      18
dtype: int64

In [39]:
nsjis = 22+173+215+39+37+18
nsjis

504

In [44]:
norcas = 22 + 173 + 37 + 18
norcas

250

In [40]:
nwaother = 781 - nsjis
nwaother

277

In [41]:
(277/781,504/781)

(0.3546734955185659, 0.645326504481434)

In [42]:
nother = 978 - 871
nother

107